<h1 mat-dialog-title>Add Bill</h1>
<div mat-dialog-content>
  <mat-form-field class="fullwidth">
    <textarea cdkFocusInitial #addbilltextbox matInput rows=10 wrap=off></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">No Thanks</button>
  <button mat-button [mat-dialog-close]="{ value: addbilltextbox.value, format: format }" cdkFocusInitial>Ok</button>
  <mat-form-field style="position: relative; right: -34%">
      <mat-select placeholder="Input Format" [(value)]="format">
          <mat-option value=leumi>Leumi</mat-option>
          <mat-option value=leumicard>Leumi Card</mat-option>
          <mat-option value=cal>Cal</mat-option>
      </mat-select>
  </mat-form-field>
</div>
